*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(244,244,246);
    padding-top: 43px;
    padding-bottom: 50px;
}

header{
    color: white;
    line-height: 44px;
    font-size: 18px;
    background: rgb(40,133,202);
    text-align: center;
    width: 100%;

    /*绝对定位*/
    left: 0;
    top: 0;
    position: fixed;
}

.DS_first_section   img{
    width: 100%;

    z-index: 999;
}

footer{
    display: table;
    background: black;
    width: 100%;
    height: 49px;

    /*绝对定位*/
    left: 0;
    bottom: 0;
    position: fixed;
}
footer a{
    display: table-cell;    /*成列的标签*/
    width: 20%;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;   /*去掉span的装饰*/
}
footer a span{
    display: block;
    color: white;
    font-size: 12px;
}

footer a img{
    width: 20px;
}

.BP_top_section{
    display:table;
    width: 100%;
    background: rgb(244, 244, 246);
    height: 44px;
    left: 0;
    top: 44px;
    position: fixed;
}

.BP_top_section a {
    display: table-cell;
    width: 33.3%;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}

.BP_top_div{
    background: white;
    text-align: center;
}

.BP_middle_div{
    text-align: center;
}
.BP_inner_div{
    text-align: left;
    padding-left: 20px;
    font-size: 10px;
    color: gray;
    line-height: 2em;
}